/*body * {*/
/*    border: solid 1px #000 !important;*/
/*}*/

code {
    background-color: #eee !important;
    white-space: nowrap !important;
    border-radius: 3px !important;
    font-size: 0.85em !important;
    padding: 0 4px !important;
}

div[class*='--preview-'] {
    padding: 8px;
}

@media screen and (max-width: 400px) {

    div[class*='--preview-'] {
        border-right: none;
        border-left: none;
        border-radius: 0;
        margin: 0 -16px;
        display: block;
        padding: 5px;
        width: auto;
    }

}
