@import "util"

.chonky
  &-side
    &-left, &-right
      flex-direction: row
      padding-bottom: 0
      display: flex

      & > *
        vertical-align: middle
        display: inline-block

  &-controls
    justify-content: space-between
    margin-bottom: $base-padding
    display: flex

  &-folder-chain
    &-entry, &-separator
      vertical-align: middle
      display: inline-block

    &-entry
      @include reset-button
      @include default-transition(background-color)
      border-radius: $radius-medium
      border: solid 1px transparent
      line-height: $base-bar-height
      padding: 0 0.2em !important
      height: $base-bar-height
      box-sizing: border-box
      @media screen and (max-width: $mobile-breakpoint)
        line-height: $base-bar-height-mobile
        height: $base-bar-height-mobile

      &:last-child &-name
        text-decoration: underline $fg-subtle

      &.chonky-loading
        font-style: italic
        color: $fg-subtle

      @at-root div#{&}
        cursor: default
      @at-root button#{&}
        &:hover
          background-color: $bg-light

        &:active
          border-color: $border-dark


    &-separator
      line-height: $base-bar-height
      height: $base-bar-height
      color: $fg-subtle
      padding: 0 0.2em
      @media screen and (max-width: $mobile-breakpoint)
        line-height: $base-bar-height-mobile
        height: $base-bar-height-mobile
        padding: 0 0.1em

  &-button-group
    button:not(:first-of-type)
      border-bottom-left-radius: 0
      border-top-left-radius: 0

    button:not(:last-of-type)
      border-bottom-right-radius: 0
      border-top-right-radius: 0
      margin-right: -1px

  &-dropdown
    $dropdown-parent: &
    position: relative

    &.chonky-active, &:hover, &:active
      #{$dropdown-parent}-contents-wrapper
        display: block

    & > button
      &:active, &:focus
        & + #{$dropdown-parent}-contents-wrapper
          display: block

    &-contents
      border: solid 1px $border-light
      border-radius: $radius-medium
      background-color: $bg-base

      &-wrapper
        position: absolute
        padding-top: 4px
        display: none
        z-index: 888
        top: 100%
        right: 0

    &-switch
      border-bottom: solid 1px $border-lighter
      flex-direction: row
      display: flex

      &-button
        @include reset-button
        border-left: solid 1px $border-lighter !important
        line-height: $base-bar-height
        height: $base-bar-height
        flex-grow: 1

    &-button
      padding: 0.5em !important
      white-space: nowrap
      text-align: left
      display: block
      width: 100%

      span
        position: relative
        top: -0.07em

      &:not(:last-of-type)
        border-bottom: solid 1px $border-lighter

  &-dropdown-button, &-dropdown-switch-button, &-icon-button
    @include default-transition(background-color)
    @include reset-button

    &[disabled]
      color: $fg-subtle !important
      pointer-events: none

    &.chonky-active
      color: $fg-active

    &:hover
      background-color: $bg-light
      z-index: 992

  &-icon-button
    border-radius: $radius-medium
    line-height: $base-bar-height
    border: solid 1px transparent
    min-width: $base-bar-height
    height: $base-bar-height
    vertical-align: middle
    box-sizing: border-box
    text-align: center
    position: relative
    z-index: 991
    @media screen and (max-width: $mobile-breakpoint)
      line-height: $base-bar-height-mobile
      min-width: $base-bar-height-mobile
      height: $base-bar-height-mobile

    &.chonky-active
      z-index: 993

    &:hover
      z-index: 992

    &:active
      border-color: $border-dark

    & > span
      padding: $base-padding * 1.2
      border-color: $border-dark
      white-space: nowrap
