@import "util"

.chonky
  $table-side-padding: 0.6em

  &-file-list

    &-details
      position: relative

    &-details &-notification
      &-content
        padding: $table-side-padding
        text-align: center
        font-size: 1.03em

    &-details &-entry
      border-color: transparent
      border-bottom-color: $border-lighter

      box-sizing: border-box
      flex-direction: row
      border-width: 1px 0
      border-style: solid
      align-items: center
      font-size: 0.95em
      display: flex
      z-index: 1

      & > div
        box-sizing: border-box
        padding: 0.5em
        flex-grow: 1

      &:hover
        background-color: $bg-light
        z-index: 2

      &:focus
        box-shadow: inset rgba($fg-active, 0.75) 0 0 0 2px
        outline: none

      &.chonky-selected
        background-color: rgba($bg-active, 0.04)
        @include striped-background(rgba($bg-active, 0.04), rgba($bg-active, 0.10))
        border-color: rgba($bg-active, 0.3) transparent !important
        z-index: 3 !important

        &:hover
          background-color: rgba($bg-active, 0.07)
          @include striped-background(rgba($bg-active, 0.07), rgba($bg-active, 0.14))

        & + .chonky-selected
          border-top-color: transparent !important


      &-icon
        padding-left: 0.6em !important
        flex-grow: 0 !important

      &-name
        flex-grow: 20 !important
        word-break: break-word

      &-size
        color: $fg-subtle-dark

      &-size, &-date
        white-space: nowrap
