.chonky-root {
  border: solid 1px #e4e4e4;
  border-radius: 4px;
  padding: 0.45em;
  touch-action: manipulation;
  font-size: 15px;
  font-family: sans-serif;
  flex-direction: column;
  display: flex;
  height: 100%;
}

.chonky-error {
  border: solid 1px rgba(108, 72, 72, 0.11);
  margin-bottom: 0.45em;
  border-radius: 4px;
  background-color: #fdebeb;
  font-family: sans-serif;
  color: #8e2121;
  padding: 1em;
}
.chonky-error-name {
  opacity: 0.5;
}
.chonky-error ul {
  padding-top: 0.1em;
  margin: 0;
}
.chonky-error li {
  margin-top: 0.5em;
}

.chonky-tooltip {
  position: relative;
}
.chonky-tooltip:hover::before, .chonky-tooltip:hover::after, .chonky-tooltip:focus::before, .chonky-tooltip:focus::after, .chonky-tooltip:active::before, .chonky-tooltip:active::after {
  display: block;
  opacity: 1;
}
.chonky-tooltip::before, .chonky-tooltip::after {
  -webkit-transition: opacity 100ms ease-in-out;
  -moz-transition: opacity 100ms ease-in-out;
  -o-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
  pointer-events: none;
  position: absolute;
  display: none;
  z-index: 9999;
  bottom: 100%;
  opacity: 0;
  left: 50%;
}
.chonky-tooltip::before {
  -webkit-transform: translateX(-75%);
  -moz-transform: translateX(-75%);
  -ms-transform: translateX(-75%);
  -o-transform: translateX(-75%);
  transform: translateX(-75%);
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  content: attr(data-tooltip);
  padding: 0.4em 0.5em;
  white-space: nowrap;
  margin-bottom: 6px;
  line-height: 1em;
  color: #fff;
  font-size: 0.8em;
  height: 1em;
}
.chonky-tooltip::after {
  -webkit-transform: translateX(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) rotate(45deg);
  -o-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
  border: solid 2px rgba(0, 0, 0, 0.8);
  border-left-color: transparent;
  border-top-color: transparent;
  margin-bottom: 4px;
  content: "";
}

.chonky-toolbar {
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  flex-direction: row;
  display: flex;
}
.chonky-toolbar-side {
  margin-bottom: 0.45em;
  flex-direction: row;
  padding-bottom: 0;
  display: flex;
  flex-grow: 1;
}
.chonky-toolbar-side-left {
  flex-grow: 10000;
}
.chonky-toolbar-side-right {
  justify-content: space-between;
}
.chonky-toolbar-side-inside {
  flex-direction: row;
  display: flex;
}
.chonky-toolbar-side-inside > * {
  vertical-align: middle;
  display: inline-block;
}
@media screen and (max-width: 400px) {
  .chonky-toolbar {
    flex-direction: column-reverse;
  }
  .chonky-side-right {
    justify-content: space-between;
  }
}
.chonky-folder-chain-entry, .chonky-folder-chain-separator {
  vertical-align: middle;
  display: inline-block;
}
.chonky-folder-chain-entry {
  background: none;
  cursor: pointer;
  color: inherit;
  font: inherit;
  border: none;
  padding: 0;
  -webkit-transition: background-color 100ms ease-in-out;
  -moz-transition: background-color 100ms ease-in-out;
  -o-transition: background-color 100ms ease-in-out;
  transition: background-color 100ms ease-in-out;
  border-radius: 4px;
  border: solid 1px transparent;
  line-height: 1.9em;
  padding: 0 0.3em !important;
  height: 1.9em;
  box-sizing: border-box;
}
@media screen and (max-width: 400px) {
  .chonky-folder-chain-entry {
    line-height: 1.7em;
    height: 1.7em;
  }
}
.chonky-folder-chain-entry:last-child .chonky-folder-chain-entry-name {
  text-decoration: underline #bbb;
}
.chonky-folder-chain-entry.chonky-loading {
  font-style: italic;
  color: #bbb;
}
div.chonky-folder-chain-entry {
  cursor: default;
}

button.chonky-folder-chain-entry:hover {
  background-color: #f5f5f5;
}
button.chonky-folder-chain-entry:active {
  border-color: #ccc;
}

.chonky-folder-chain-separator {
  line-height: 1.9em;
  height: 1.9em;
  color: #bbb;
  padding: 0 0.1em;
}
@media screen and (max-width: 400px) {
  .chonky-folder-chain-separator {
    line-height: 1.7em;
    height: 1.7em;
    padding: 0 0.1em;
  }
}

.chonky-toolbar-button {
  -webkit-transition: background-color 100ms ease-in-out;
  -moz-transition: background-color 100ms ease-in-out;
  -o-transition: background-color 100ms ease-in-out;
  transition: background-color 100ms ease-in-out;
  background: none;
  cursor: pointer;
  color: inherit;
  font: inherit;
  border: none;
  padding: 0;
  border-radius: 4px;
  line-height: 1.9em;
  border: solid 1px #f5f5f5;
  min-width: 1.9em;
  height: 1.9em;
  vertical-align: middle;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  z-index: 91;
  flex-direction: row;
}
.chonky-toolbar-button-icon, .chonky-toolbar-button-text {
  display: inline-block;
}
.chonky-toolbar-button-icon {
  min-width: 1.9em;
}
.chonky-toolbar-button-text {
  padding-right: 0.6em;
  padding-left: 0.6em;
}
.chonky-toolbar-button-icon + .chonky-toolbar-button-text {
  padding-left: 0 !important;
}
@media screen and (max-width: 400px) {
  .chonky-toolbar-button {
    line-height: 1.7em;
    min-width: 1.7em;
    height: 1.7em;
  }
}
.chonky-toolbar-button.chonky-active {
  z-index: 93;
}
.chonky-toolbar-button:hover {
  z-index: 92;
}
.chonky-toolbar-button:active {
  border-color: #ccc;
}
.chonky-toolbar-button > span {
  padding: 0.36em;
  border-color: #ccc;
  white-space: nowrap;
}
.chonky-toolbar-button[disabled] {
  color: #bbb !important;
  pointer-events: none;
}
.chonky-toolbar-button.chonky-active {
  color: #09f;
}
.chonky-toolbar-button:hover {
  background-color: #f5f5f5;
  z-index: 92;
}

.chonky-file-list {
  flex: 1;
}

.chonky-file-entry {
  border: solid 1px #e4e4e4;
  border-radius: 2px;
  box-sizing: border-box;
  flex-direction: column;
  overflow: hidden;
  display: flex;
  height: 100%;
}
.chonky-file-entry-preview {
  background-color: #fff;
  position: relative;
  flex-grow: 1;
}
.chonky-file-entry-description {
  background-color: #fff;
  font-size: 14px;
  padding: 0.3em;
}
.chonky-file-entry-dragging {
  opacity: 0.5;
}

.chonky-file-icon, .chonky-file-thumbnail, .chonky-file-background {
  -webkit-transition: background 100ms ease-in-out;
  -moz-transition: background 100ms ease-in-out;
  -o-transition: background 100ms ease-in-out;
  transition: background 100ms ease-in-out;
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.chonky-file-icon {
  z-index: 30;
}
.chonky-file-icon-inside {
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  left: 50% !important;
  top: 50% !important;
  text-align: center;
  position: absolute;
  font-size: 2.2em;
  display: block;
  color: #fff;
}
.chonky-file-thumbnail {
  z-index: 20;
  -webkit-transition: opacity 100ms ease-in-out;
  -moz-transition: opacity 100ms ease-in-out;
  -o-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 1;
}
.chonky-file-thumbnail-hidden {
  opacity: 0;
}
.chonky-file-background {
  z-index: 10;
  opacity: 0.4;
}

/*# sourceMappingURL=main.css.map */
