.docs-banner {
    border-left: solid 5px rgba(127, 127, 127, 0.15);
    background-color: rgba(127, 127, 127, 0.15);
    padding: 10px 15px;
    margin-top: 80px;
}

.docs-banner a {
    color: #0b5fff !important;
    text-decoration: none;
}

.docs-banner a:hover {
    text-decoration: underline;
}

.demo-button {
    margin: 0 10px 10px 0;
    padding: 6px 12px;
    font-size: 0.8em;
}

.prism-code *,
div[data-testid='live-editor'] * {
    font-family: Inconsolata, monospace !important;
    line-height: 17px !important;
    font-size: 12px !important;
}

h1 {
    margin-bottom: 30px !important;
    border-bottom: solid 1px #ccc;
}

h2 {
    margin-top: 60px !important;
}

h1 + h2 {
    margin-top: 20px !important;
}

div[data-testid='layout'] code {
    font-family: Inconsolata, monospace !important;
    background-color: rgba(127, 127, 127, 0.15);
    border-radius: 3px;
    font-size: 0.8em;
    padding: 2px 4px;
    margin: 0 2px;
}

div[data-testid='layout'] code:first-child {
    margin-left: 0 !important;
}
