@import 'util';

.chonky-file-entry-clickable-wrapper {
    // We disable default browser outline because Chonky provide's its own outline
    // (which doesn't compromise accessibility, hopefully)
    outline: none !important;
    position: relative;
}

.chonky-file-drag-preview {
    padding: $base-padding * 1.5 $base-padding * 2;
    box-shadow: 2px 2px 5px $bg-darker;
    border-radius: $radius-small;
    border: solid 2px $fg-active;
    background-color: $bg-light;
    display: inline-block;
}
