@import 'util';

.chonky-fill-parent {
    height: 100%;
}

.chonky-error {
    border: solid 1px rgba(108, 72, 72, 0.11);
    margin-bottom: $file-browser-padding;
    border-radius: $radius-medium;
    background-color: #fdebeb;
    font-family: sans-serif;
    color: #8e2121;
    padding: 1em;

    &-name {
        opacity: 0.5;
    }

    ul {
        padding-top: 0.1em;
        margin: 0;
    }

    li {
        margin-top: 0.5em;
    }
}
